@import 'tailwindcss';
@import 'flag-icons/css/flag-icons.min.css';
@plugin "daisyui" {
  themes: false; /* Disable built-in themes */
  darktheme: 'light';
}

@font-face {
  font-family: 'Archivo';
  src: url('/fonts/Archivo-VariableFont_wdth,wght.ttf') format('truetype');
  font-weight: 100 900;
  font-style: normal;
}

@theme {
  /* Custom theme */
  --color-primary: #8e52ff;
  --color-primary-100: #e8dcff;
  --color-primary-300: #d2baff;
  --color-primary-500: #bb97ff;
  --color-primary-700: #a575ff;
  --color-primary-900: #8e52ff;

  --color-secondary: #73efd5;
  --color-secondary-100: #e3fcf7;
  --color-secondary-300: #c7f9ee;
  --color-secondary-500: #abf6e6;
  --color-secondary-700: #8ff2dd;
  --color-secondary-900: #73efd5;

  --color-gray-900: #f5f5f5;

  --color-white-900: #ffffff;

  --color-black-900: #171a27;
  --color-black-700: #4c4c4c;
  --color-black-500: #797979;
  --color-black-300: #a5a5a5;
  --color-black-100: #d2d2d2;

  --color-black: #1f1f1f;

  --color-red-900: #FF5255;
  --color-red-700: #FF7B77;
  --color-red-500: #FF968E;
  --color-red-300: #FFB1A7;
  --color-red-100: #FFDCDD;

  --color-danger-500: #ff5255;
  --color-danger-300: #ff7d7f;
  --color-danger-100: #ffdcdd;
}

body {
  font-family: 'Archivo', sans-serif;
}

/* Custom classes */
.spin-slow {
  animation: spin 3s linear infinite;
}
