@import 'tailwindcss';

@font-face {
	font-family: 'Archivo';
	src: url('/fonts/Archivo-VariableFont_wdth,wght.ttf') format('truetype');
	font-weight: 100 900;
	font-style: normal;
}

@layer base {
	/* Typography */
	h1 {
		@apply text-[90px]/[1.5] font-semibold text-black;
	}

	h2 {
		@apply text-6xl/[1.5] font-semibold text-black;
	}

	h3 {
		@apply text-3xl/[1.5] font-semibold text-black;
	}

	h4 {
		@apply text-xl/[1.5] font-semibold text-black;
	}

	p {
		@apply text-base/[1.5] font-normal text-black;
	}

	.small {
		@apply text-xs/[1.5] font-normal text-black;
	}

	:root {
		/* Custom theme */
		--color-primary: #8e52ff;
		--color-primary-100: #e8dcff;
		--color-primary-200: #d2baff;
		--color-primary-300: #bb97ff;
		--color-primary-400: #a575ff;
		--color-primary-500: #8e52ff;

		--color-secondary: #73efd5;
		--color-secondary-100: #e3fcf7;
		--color-secondary-200: #c7f9ee;
		--color-secondary-300: #abf6e6;
		--color-secondary-400: #8ff2dd;
		--color-secondary-500: #73efd5;

		--color-white: #ffffff;
		--color-gray: #f5f5f5;

		--color-black: #1f1f1f;
		--color-black-100: #d2d2d2;
		--color-black-300: #a5a5a5;
		--color-black-500: #797979;
		--color-black-700: #4c4c4c;
		--color-black-900: #1f1f1f;

		--color-danger: #ff5255;
		--color-danger-100: #ffdcdd;
		--color-danger-200: #ffb1a7;
		--color-danger-300: #ff968e;
		--color-danger-400: #ff7b77;
		--color-danger-500: #ff5255;

		--color-green: #0fb340;
	}
}
