@import 'tailwindcss';


@theme {
    /* Custom theme */
    --color-primary: #8e52ff;
    --color-primary-100: #e8dcff;
    --color-primary-200: #d2baff;
    --color-primary-300: #bb97ff;
    --color-primary-400: #a575ff;
    --color-primary-500: #8e52ff;

    --color-secondary: #73efd5;
    --color-secondary-100: #e3fcf7;
    --color-secondary-200: #c7f9ee;
    --color-secondary-300: #abf6e6;
    --color-secondary-400: #8ff2dd;
    --color-secondary-500: #73efd5;

    --color-white: #ffffff;
    --color-gray: #f5f5f5;

    --color-black: #1f1f1f;
    --color-black-100: #d2d2d2;
    --color-black-300: #a5a5a5;
    --color-black-500: #797979;
    --color-black-700: #4c4c4c;
    --color-black-900: #1f1f1f;

    --color-danger: #ff5255;
    --color-danger-100: #ffdcdd;
    --color-danger-200: #ffb1a7;
    --color-danger-300: #ff968e;
    --color-danger-400: #ff7b77;
    --color-danger-500: #ff5255;
}