<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>NSFaceIDUsageDescription</key>
    <string>Authenticate with biometric</string>
    <key>NSCameraUsageDescription</key>
    <string>eID for W3DS wants to access your camera to scan W3DS QR Codes and Verify your identity</string>

    <key>NSAppTransportSecurity</key>
    <dict>
      <key>NSAllowsArbitraryLoads</key>
      <true/>
    </dict>
    <key>CFBundleURLTypes</key>
    <array>
      <dict>
        <key>CFBundleURLName</key>
        <string>foundation.metastate.eid-wallet</string>
        <key>CFBundleURLSchemes</key>
        <array>
          <string>w3ds</string>
        </array>
      </dict>
    </array>
  </dict>
</plist>
